
@{
    ViewData["Title"] = "Index";
}

<main>
        <section class="services">
            <div class="container">
                <div class="text2">
                    <h2>SERVICES </h2>
                    <p>Lorem ipsum dolor sit amet consectetur. </p>
                </div>
                <div class="container">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card">
                                <i class="las la-shopping-cart"></i>
                                <div class="card-body">
                                    <h5 class="card-title"> E-Commerce </h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <i class="las la-laptop"></i>
                                <div class="card-body">
                                    <h5 class="card-title">Responsive Design </h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Minima maxime quam architecto quo inventore harum ex magni, dicta impedit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <i class="las la-lock"></i>
                                <div class="card-body">
                                    <h5 class="card-title">Web Security </h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <section class="portfolio">
            <div class="container">
                <div class="text3">
                    <h2>PORTFOLIO </h2>
                    <p>Lorem ipsum dolor sit amet consectetur. </p>
                </div>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="./assets/Image/roundicons.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Round Icons </h5>
                                <p class="card-text">Graphic Design </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/Image/startup-framework.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Startup Framework</h5>
                                <p class="card-text">Website Design </p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img src="./assets/Image/treehouse.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Treehouse </h5>
                                <p class="card-text">Website Design </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="./assets/Image/golden.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Golden </h5>
                                <p class="card-text">Website Design </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/Image/escape.jpg " class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Escape</h5>
                                <p class="card-text">Website Design </p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img src="./assets/Image/dreams.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Dreams </h5>
                                <p class="card-text">Website Design</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="logo">
            <div class="container">
                <div class="logoimg d-flex"></div>
                <img src="./assets/Image/envato.jpg" alt="">
                <img src="./assets/Image/designmodo.jpg" alt="">
                <img src="./assets/Image/themeforest.jpg" alt="">
                <img src="./assets/Image/creative-market.jpg" alt="">

            </div>

            </div>
        </section>
        <section class="contact ">
            <div class="container">
                <div class="text4">
                    <h2>CONTACT US </h2>
                    <p>Lorem ipsum dolor sit amet consectetur </p>

                </div>
                <div class="row">
                    <div class="col-6">
                        <form>
                            <div class="mb-3">
                                <input type="name" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Your Name*">
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Your Email*">
                            </div>
                            <div class="mb-3">
                                <input type="phone" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Your Phone*">
                            </div>

                        </form>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your Mesagge*"
                                rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="text5">

                        <a href="" class="btn btn-warning">SEND MESAGGE</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

